<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletTest</display-name>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.xxg.web.ServletDemo1</servlet-class>
    <init-param>
      <param-name>data</param-name>
      <param-value>xxxx</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>yyyy</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.xxg.web.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
</web-app>